# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Build output
dist/
build/

# Environment variables
.env

# Firebase and configuration files
firebase-adminsdk-*.json
.config/
.firebase-config/
.gcloud-config/
.local/
# Secrets and Credentials
*.json
.vscode/
.config/
.firebase-config/
.gcloud-config/
.local/
deploy-web.err